<ion-view view-title="Home">
  <ion-content class="padding" scroll="false" id="wrap">
    <div id="block1">
      <div class="row">
        <h3 class="col text-center">Gameweek Countdown</h3>
      </div>
      <div class="row">
        <h1 class="col text-center">MM:DD:HH:SS</h1>
      </div>
      <div class="row">
        <h5 class="col text-left">Night Mission Status:</h5>
        <h5 class="col text-right">Active</h5>
      </div>
    </div>

    <div id="block2">
      <div class="row">
        <h4 class="col" style="text-align:center">Announcements</h4>
      </div>
      <ion-scroll zooming="false" direction="y" style="height: 70%">
        <div>HITLER ESCAPED AO BRASIL no final de 1945
          E depois levou o título no HANS GRUBER, COM EVA becomeing
          Hanzel GRUBER. Ele assumiu um emprego de carpinteiro e que
          IGNORE FOGO NORMAS DE SEGURANÇA Quando a construção de casas de judeus
          Aposentou-se há 5 anos e está desfrutando de sua VIDA EM Riio. WE
          PRECISA trazê-lo para ISREAL para ser julgado.<br>
          What the heck did you just flipping say about me,
          you big meanie? I'll have you know I graduated top of my
          class in the Tiny Tots Program, and I've been involved in
          numerous secret raids on the girl's bathroom, and I have
          over 300 confirmed noogies. I am trained in Nerf warfare
          and I have the most gold stars in the entire kindergarten
          class. You are nothing to me but just another butthead.
          I will beat you the heck up with precision the likes of w
          hich has never been seen before on this Earth, mark my da
          ng words. You think you can get away with saying that balon
          ey to me on the glowy type-box? Think again, doodiehead. As
          we speak I am contacting my secret network of teachers ac
          ross the USA and your parents are being called to pick you u
          p right now so you better prepare for the spanking, junior.
          The spanking that wipes out the dumb little thing you call
          your playtime. You're in big darn trouble, kid. I can be an
          ywhere, anytime, and I can wedgie you in over seven hundred
          ways, and that's just with my bare hands. Not only am I ext
          ensively trained in unarmed fartfights, but I have access t
          o the entire arsenal of the United States PTA and I will us
          e it to its full extent to wipe your dorky bottom off the f
          ace of the playground, you little poopypants. If only you c
          ould have known what serious punishments your little "smart
          ypants" comment was about to bring down upon you, maybe you
          would have held your goshdarned tongue. But you couldn't, y
          ou didn't, and now you're paying the price, you silly doofu
          s. I will spray boogers all over you and you will cry about
          it. You're frickin grounded, buttmunch.
        </div>
      </ion-scroll>
    </div>

    <div id="block3">
      <div class="row" style="height: 40%">
        <div class="col text-center">
          <a class="button-scale icolor button icon ion-log-in button-energized" ng-click="login()">
            <br>Login
          </a>
        </div>
        <div class="col text-center">
          <a class="button-scale button icon ion-information button-energized" href="#/app/mission">
            <br>Mission
          </a>
        </div>
        <div class="col text-center">
          <a class="button-scale button icon ion-speakerphone button-energized" href="#/app/rules">
            <br>Rules
          </a>
        </div>
      </div>
      <div class="row" style="height: 40%">
        <div class="col text-center">
          <a class="button-scale button icon ion-pie-graph button-energized" href="#/app/stats">
            <br>Stats
          </a>
        </div>
        <div class="col text-center">
          <a class="button-scale button icon ion-map button-energized" href="#/app/map">
            <br>Map
          </a>
        </div>
        <div class="col text-center">
          <a class="button-scale button icon ion-loop button-energized" href="#/app/untitled">
            <br>420BLAZE
          </a>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
