<ion-view view-title="Dashboard">
  <ion-content class="padding">
<div class="bar bar-header bar-energized" style="text-align:center">
  <h1 class="title">HITLER IS STILL ALIVE</h1>
</div>
    <h2>Welcome to Ionic</h2>
<div class="row">
<button class="button button-positive" style="text-align:center">
  NO REALLY HE IS STILL OUT THERE
</button>
</div>
<div class="row">
  <div class="col">Night Mission Status:</div>
  <div class="col">HE WAS NEVER BROUGHT TO JUSTICE</div>
</div>
<div class="row">
  <div class="col" style="text-align:center">Announcements:</div>
</div>
</div class="row">
  <div class="col">HITLER ESCAPED TO BRAZIL IN LATE 1945 
AND THEN TOOK ON THE TITLE HANS GRUBER, WITH EVA BECOMEING
HANZEL GRUBER. HE TOOK ON A JOB AS A CARPENTER AND WOULD
IGNORE FIRE SAFETY STANDARDS WHEN BUILDING JEWISH HOUSES
HE RETIRED 5 YEARS AGO AND IS ENJOYING HIS LIFE IN RIIO. WE
NEED TO BRING HIM INTO ISREAL TO BE JUDGED</div>
</div>
<div class="row">
  <div class="col">
<button class="button button-block button-assertive">
  JEWISH
</button>
  </div>
  <div class="col">
<button class="button button-block button-assertive">
  LIVES
</button>
</div>
  <div class="col">
<button class="button button-block button-assertive">
  MATTER
</button>
</div>
</div>
<div class="row">
  <div class="col">
<button class="button button-block button-assertive">
  LETS
</button>
</div>
  <div class="col">
<button class="button button-block button-assertive">
  KILL
</button>
</div>
  <div class="col">
<button class="button button-block button-assertive">
  HITLER
</div>
</div>
  </ion-content>
</ion-view>
