.mainPage {

}
ion-card {
   //background: $card;
}

ion-col {
   text-align: center;
}

#main1{
   margin-top: 15%;
   max-height: 30vh;
}

#main2{
   margin-top: 6%;
   height: 18vh;
   ion-card{
      ion-card-content{
         ion-content{
            h6{
               width: 100%;
               overflow: hidden;
               text-overflow: ellipsis;
               white-space: nowrap;
            }
         }
      }
   }
}

#main3 {
   margin-top: 8%;
   ion-row {
      button {
         height: 15vh;
         width: 30vw;
         ion-col {
            ion-icon {
               //color: white;
               font-size: 2.5em;
            }
            p {
               //color: white;
            }
         }
         &:active {
            color: lime;
         }
      }
   }
}
